<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts | Gaming-Gear Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

        body {
            font-family: 'Mitr', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .content {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>

</head>

<body>

    <header>
        <%- include('admin-navbar') %>
    </header>


    <div class="content">
        <div class="container mt-5">
            <form method="get" action="/admin/accounts/searching"
                class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-center">
                <div class="col-lg-3 d-flex align-items-center mb-2 mb-lg-0">
                    <p class="fs-5 me-lg-3 mb-0">จัดการบัญชี</p>
                </div>
                <div class="col-lg-9 d-flex flex-grow-1">
                    <input name="username" value="" class="form-control form-control-sm me-2 mb-2 mb-lg-0" type="search"
                        placeholder="ค้นหา username" aria-label="ค้นหา username" style="max-width: 400px;">
                    <button class="btn btn-outline-success me-2" type="submit">ค้นหา</button>
                </div>
            </form>
        </div>

        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Type</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Address</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach(function(item, index) { %>
                            <tr>
                                <th scope="row">
                                    <%= item.account_id %>
                                </th>
                                <td>
                                    <%= item.type %>
                                </td>
                                <td>
                                    <%= item.username %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.firstname %>
                                </td>
                                <td>
                                    <%= item.lastname %>
                                </td>
                                <td>
                                    <%= item.phonenumber %>
                                </td>
                                <td>
                                    <%= item.address %>
                                </td>
                                <td>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                        <a class="btn btn-sm btn-primary me-md-2 mb-2 mb-md-0" data-bs-toggle="modal"
                                            data-bs-target="#editAccounts<%= item.account_id %>">Edit</a>
                                        <!-- <a class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#myModalDel<%= item.account_id %>">Delete</a> -->
                                    </div>
                                </td>
                                <div class="modal fade" id="editAccounts<%= item.account_id %>">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">แก้ข้อมูล</h4>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                            </div>
                                            <form action="/admin/accounts/edit/<%= item.account_id %>" method="POST">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="type" class="form-label">type</label>
                                                        <input type="text" class="form-control" id="type" name="type" value="<%= item.type %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="username" class="form-label">Username</label>
                                                        <input type="text" class="form-control" id="username" name="username" value="<%= item.username %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="email" name="email" value="<%= item.email %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="firstname" class="form-label">First Name</label>
                                                        <input type="text" class="form-control" id="firstname" name="firstname" value="<%= item.firstname %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="lastname" class="form-label">Last Name</label>
                                                        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= item.lastname %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="phonenumber" class="form-label">Phone Number</label>
                                                        <input type="tel" class="form-control" id="phonenumber" name="phonenumber" value="<%= item.phonenumber %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="address" class="form-label">Address</label>
                                                        <textarea class="form-control" id="address" name="address" rows="3"  required><%= item.address %></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="modal fade" id="myModalDel<%= item.account_id %>">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">ยืนยัน</h4>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                ต้องการลบข้อมูลหรือไม่?
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">ยกเลิก</a>
                                                <a href="accounts/delete/<%= item.account_id %>" type="submit"
                                                    class="btn btn-primary">ยืนยัน</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('footer') %>

</body>

</html>